<div data-hook="admin_slider_image_form_fields" class="row">
	<div class="col-md-6">
		<%= f.field_container :product_id, class: ['form-group'] do %>
			<%= label_tag :product_id, t(:product) %>
			<%= hidden_field_tag 'slide[product_id]', f.object.product_id.to_s, :class => "product_picker fullwidth" %>
		<% end %>
		<%= f.field_container :name, class: ['form-group'] do %>
			<%= f.label :name, t(:name) %>
			<%= f.text_field :name, :placeholder => t('spree_slider.placeholder_name'), :class => 'form-control' %>
		<% end %>
		<%= f.field_container :body, class: ['form-group'] do %>
			<%= f.label :body, t(:body) %>
			<%= f.text_area :body, {:cols => 60, :rows => 4, :class => 'form-control'} %>
		<% end %>
		<%= f.field_container :link_url, class: ['form-group'] do %>
			<%= f.label :link_url, t(:link_url) %>
			<%= f.text_field :link_url, :placeholder => t('spree_slider.placeholder_link_url'), :class => 'form-control' %>
		<% end %>
		<%= f.field_container :image, class: ['form-group'] do %>
			<%= f.label :image, t(:image) %> <i>(<%= t('spree_slider.image_tip') %>)</i>
			<% if f.object.image? %>
			<p>
				<%= image_tag f.object.image, style: 'width: 120px; height: auto;' %>
			</p>
			<% end %>
			<%= f.file_field :image %>
		<% end %>
		<%= f.field_container :published, class: ['form-group'] do %>
			<label>
				<%= f.check_box :published %>
				<%= t(:published) %>
			</label>
		<% end %>
		<%= f.field_container :position, class: ['form-group'] do %>
			<%= f.label :position, t(:position) %>
			<%= f.number_field :position, :class => 'form-control' %>
		<% end %>
	</div>
</div>
